body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #e5e5e5; }

.header {
  margin: 0;
  height: 800px;
  background-color: #2c2c2c;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative; }
  .header__content {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 85%; }
  .header__text {
    color: white; }
  .header__title {
    margin: 0;
    font-size: 64px;
    line-height: 106%;
    font-weight: 600;
    letter-spacing: -2px;
    padding: 120px 0 32px;
    width: 490px;
    height: 136px;
    font-family: "Poppins", sans-serif; }
  .header__tagline {
    font-size: 18px;
    line-height: 150%;
    width: 362px;
    height: 54px;
    padding-bottom: 83px;
    margin: 0; }
  .header__button {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    border-radius: 8px;
    border: 1px solid #2060f6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #2060f6;
    width: 226px;
    height: 50px;
    -webkit-transition: color 0.2s, background-color 0.2s;
    transition: color 0.2s, background-color 0.2s;
    margin: 0; }
    .header__button:hover {
      color: #2060f6;
      background-color: white;
      cursor: pointer; }

.nav {
  margin: 0 auto;
  height: 15%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav__list {
    margin: 0;
    padding: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav__item {
    list-style: none;
    text-transform: uppercase;
    margin: 0 32px;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 3px; }
    .nav__item:last-child {
      margin-left: auto; }
  .nav__item-logo {
    position: relative;
    top: -5px; }
  .nav__logo {
    margin-right: 14px; }
  .nav__link {
    display: inline-block;
    text-decoration: none;
    color: white;
    position: relative; }
    .nav__link::after {
      content: "";
      background-image: url("../images/sub-title/sub-link-icon-dark.svg");
      position: absolute;
      left: 0;
      width: calc(100% - 3px);
      height: 2px;
      bottom: 0;
      opacity: 0;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s; }
    .nav__link:hover::after {
      opacity: 100%;
      -webkit-transform: translateY(8px);
              transform: translateY(8px); }

.carousel {
  position: absolute;
  background-image: url("../images/slider/slide-img-1.png");
  width: 687px;
  height: 680px;
  right: 0;
  bottom: 0;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: white; }
  .carousel__arrow-left {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 48px;
    bottom: 66px;
    background-image: url("../images/slider/arrow-left.svg");
    background-size: 10px 12px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .carousel__arrow-left:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      cursor: pointer; }
  .carousel__arrow-right {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 88px;
    bottom: 66px;
    background-image: url("../images/slider/arrow-right.svg");
    background-size: 10px 12px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .carousel__arrow-right:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      cursor: pointer; }
  .carousel__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: absolute;
    left: 144px;
    bottom: 96px; }
  .carousel__text {
    font-size: 14px;
    line-height: 140%;
    position: absolute;
    left: 144px;
    bottom: 48px;
    width: 264px; }

.about {
  height: 500px;
  max-width: 1200px;
  margin: 0 auto; }
  .about__container {
    max-width: 754px;
    margin: 0 auto; }
  .about__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #253757;
    margin: 0 auto;
    padding: 148px 32px 8px; }
  .about__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b;
    margin: 0 auto;
    padding: 8px 32px; }

.expertise {
  background-color: white;
  border-radius: 30px;
  height: 759px; }
  .expertise__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 52px;
    color: #253757;
    padding: 128px 0 64px;
    margin: 0 auto;
    max-width: 561px;
    text-align: center; }

.card {
  margin: 0 auto;
  max-width: 264px; }
  .card__container {
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .card__image {
    display: block;
    margin: 0 auto 40px;
    border-radius: 16px; }
  .card__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #253757;
    text-align: center;
    margin-bottom: 16px; }
  .card__text {
    font-size: 14px;
    line-height: 150%;
    color: #6c788b;
    text-align: center; }

.process {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .process__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1200px;
    height: 750px; }
  .process__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .process__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #253757;
    margin: 0;
    width: 362px; }
    .process__title-above {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 13px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #c0cdd7;
      width: 78px;
      display: inline-block;
      margin-bottom: 16px;
      padding-top: 251px; }
  .process__text {
    font-size: 14px;
    line-height: 150%;
    color: #6c788b;
    width: 362px; }
  .process__cards {
    max-width: 558px;
    height: 690px;
    margin: 148px 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    z-index: 1; }
  .process__card {
    width: 264px;
    height: 264px;
    background-color: white;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px; }
    .process__card-1 {
      margin: 132px 30px 30px 0; }
    .process__card-2 {
      margin-bottom: 30px; }
    .process__card-3 {
      margin-right: 30px; }
    .process__card-4 {
      position: relative;
      bottom: 132px; }
    .process__card-number {
      color: #2060f6;
      font-family: "Poppins", sans-serif;
      font-size: 13px;
      font-weight: 600;
      text-align: center;
      line-height: 24px;
      width: 46px;
      height: 24px;
      background-color: rgba(32, 96, 246, 0.1);
      border-radius: 23px;
      display: inline-block;
      margin: 32px 0 24px 32px; }
    .process__card-text {
      font-weight: 600;
      font-size: 13px;
      line-height: 150%;
      color: #6c788b;
      margin: 0 0 32px 32px; }
    .process__card-more-decor {
      width: 40px;
      height: 40px;
      background-color: #2060f6;
      border-radius: 50%;
      margin: 0;
      background-image: url("../images/process/arrow.svg");
      background-position: center;
      background-repeat: no-repeat;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
    .process__card-more-text {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      color: #334563;
      margin-left: 16px;
      -webkit-transition: color 0.4s;
      transition: color 0.4s; }
    .process__card-more-container {
      width: 143px;
      height: 40px;
      margin: 0 0 32px 32px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .process__card-more-container:hover {
        cursor: pointer; }
        .process__card-more-container:hover .process__card-more-text {
          color: #6a6b6e; }
        .process__card-more-container:hover .process__card-more-decor {
          -webkit-transform: scale(1.2);
                  transform: scale(1.2); }

.approach {
  max-width: 3000px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .approach__container {
    width: 97%;
    background-color: #2c2c2c;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .approach__text-container {
    margin: 204px auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .approach__title {
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    margin: 0 0 32px;
    width: 362px; }
    .approach__title-above {
      color: white;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 13px;
      letter-spacing: 3px;
      text-transform: uppercase;
      display: inline-block;
      margin: 0 0 16px; }
  .approach__text-block {
    width: 359px;
    height: 92px;
    margin: 0 0 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .approach__text-block:last-child {
      margin-bottom: 0; }
  .approach__text-icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: white;
    -ms-flex-item-align: center;
        align-self: center; }
    .approach__text-icon-1 {
      background-image: url("../images/features/features-item-icon-1.svg"); }
    .approach__text-icon-2 {
      background-image: url("../images/features/features-item-icon-3.svg"); }
    .approach__text-icon-3 {
      background-image: url("../images/features/features-item-icon-2.svg"); }
  .approach__text {
    color: white;
    font-size: 15px;
    line-height: 150%;
    width: 264px;
    margin-left: 34px; }
  .approach__img-container {
    max-width: 687px;
    height: 680px;
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .approach__img {
    border-top-left-radius: 30px; }

.testimonials {
  max-width: 1200px;
  margin: 0 auto; }
  .testimonials__container {
    padding: 0 32px; }
  .testimonials__cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 168px; }
  .testimonials__title-above {
    color: #c0cdd7;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 148px;
    margin-bottom: 16px; }
  .testimonials__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757;
    margin: 0 0 85px; }
  .testimonials__card {
    width: 314px;
    height: 494px;
    background-color: white;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    position: relative; }
  .testimonials__decoration-1 {
    height: 139px;
    width: 56px;
    background-color: #2060f6;
    border-radius: 12px;
    position: absolute;
    -webkit-transform: rotate(-150deg);
            transform: rotate(-150deg);
    top: 36px;
    left: 80px; }
  .testimonials__decoration-2 {
    height: 139px;
    width: 56px;
    background-color: #2060f6;
    border-radius: 12px;
    position: absolute;
    -webkit-transform: rotate(-150deg);
            transform: rotate(-150deg);
    top: 129px;
    right: 80px; }
  .testimonials__photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    margin: 87px 87px 82px; }
  .testimonials__decoration-3 {
    margin: 0 147px; }
  .testimonials__text {
    margin: 10px 32px 16px;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
    text-align: center; }
  .testimonials__name {
    font-weight: 600;
    font-size: 13px;
    color: #253747;
    margin: 0 auto 4px;
    width: 200px;
    text-align: center; }
  .testimonials__position {
    margin: 0 auto 32px;
    color: #c0cdd7;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;
    width: 200px;
    text-align: center; }

.vision {
  width: 100%;
  background-color: white;
  height: 691px; }
  .vision__decoration {
    position: relative; }
    .vision__decoration-1 {
      width: 85px;
      height: 34px;
      opacity: 0.5;
      border: 3px solid #2060f6;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 12px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg);
      position: absolute;
      top: 72px;
      left: 233px; }
    .vision__decoration-2 {
      position: absolute;
      width: 45px;
      height: 18px;
      left: 446px;
      top: 77px;
      opacity: 0.5;
      border: 3px solid #2060f6;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 6px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
    .vision__decoration-3 {
      position: absolute;
      width: 143px;
      height: 56px;
      left: 269px;
      top: 283px;
      opacity: 0.5;
      border: 5px solid #2060f6;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 12px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
    .vision__decoration-4 {
      position: absolute;
      width: 67px;
      height: 27px;
      left: 82px;
      top: 370px;
      opacity: 0.5;
      border: 5px solid #2060f6;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 12px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
    .vision__decoration-5 {
      position: absolute;
      width: 45px;
      height: 18px;
      left: 481px;
      top: 465px;
      opacity: 0.5;
      border: 3px solid #2060f6;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 6px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
    .vision__decoration-6 {
      position: absolute;
      width: 94px;
      height: 37px;
      left: 131px;
      top: 518px;
      opacity: 0.5;
      border: 5px solid #2060f6;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 12px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
    .vision__decoration-7 {
      position: absolute;
      width: 54px;
      height: 21px;
      right: 111px;
      top: 110px;
      opacity: 0.5;
      border: 3px solid #2060f6;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 8px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
    .vision__decoration-8 {
      position: absolute;
      width: 143px;
      height: 56px;
      right: 215px;
      top: 131px;
      opacity: 0.5;
      border: 5px solid #2060f6;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 12px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
    .vision__decoration-9 {
      position: absolute;
      width: 86px;
      height: 34px;
      right: 67px;
      top: 276px;
      opacity: 0.5;
      border: 3px solid #2060f6;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 12px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
    .vision__decoration-10 {
      position: absolute;
      width: 85px;
      height: 34px;
      right: 314px;
      top: 385px;
      opacity: 0.5;
      border: 3px solid #2060f6;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 12px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
    .vision__decoration-11 {
      position: absolute;
      width: 154px;
      height: 61px;
      right: 143px;
      top: 413px;
      opacity: 0.5;
      border: 5px solid #2060f6;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 12px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
    .vision__decoration-12 {
      position: absolute;
      width: 45px;
      height: 18px;
      right: 552px;
      top: 514px;
      opacity: 0.5;
      border: 3px solid #2060f6;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 6px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
  .vision__container {
    padding: 0 32px; }
  .vision__title {
    margin: 0 auto 24px;
    padding-top: 200px;
    width: 715px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 52px;
    color: #253757;
    position: relative;
    z-index: 1; }
  .vision__text {
    font-weight: 600;
    font-size: 24px;
    color: #6c788b;
    width: 754px;
    text-align: center;
    margin: 0 auto 64px;
    position: relative;
    z-index: 1; }
  .vision__button {
    width: 226px;
    height: 56px;
    background-color: #2060f6;
    border-radius: 8px;
    border: 1px solid #2060f6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    display: block;
    margin: 0 auto 198px;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    z-index: 1; }
    .vision__button:hover {
      background-color: white;
      color: #2060f6;
      border: 1px solid #2060f6;
      cursor: pointer; }

.footer {
  height: 876px;
  background-color: #2c2c2c;
  margin: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px; }
  .footer__white-background {
    background-color: white;
    margin: 0; }
  .footer__container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer__message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 460px;
    height: 475px;
    margin: 180px 226px 105px 0; }
  .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 362px;
    height: 415px;
    margin-top: 180px; }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0; }
  .footer__message-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: white;
    margin-bottom: 56px; }
  .footer__email {
    background-color: #2c2c2c;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid white;
    padding-bottom: 17px;
    margin-bottom: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
    outline: none;
    -webkit-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s; }
    .footer__email::-webkit-input-placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      opacity: 0.7; }
    .footer__email::-moz-placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      opacity: 0.7; }
    .footer__email:-ms-input-placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      opacity: 0.7; }
    .footer__email::-ms-input-placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      opacity: 0.7; }
    .footer__email::placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      opacity: 0.7; }
    .footer__email:focus {
      border-bottom: 2px solid #144ed4; }
  .footer__name {
    background-color: #2c2c2c;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid white;
    padding-bottom: 17px;
    margin-bottom: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
    outline: none;
    -webkit-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s; }
    .footer__name::-webkit-input-placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      opacity: 0.7; }
    .footer__name::-moz-placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      opacity: 0.7; }
    .footer__name:-ms-input-placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      opacity: 0.7; }
    .footer__name::-ms-input-placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      opacity: 0.7; }
    .footer__name::placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      opacity: 0.7; }
    .footer__name:focus {
      border-bottom: 2px solid #144ed4; }
  .footer__your-message {
    background-color: #2c2c2c;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid white;
    padding-bottom: 17px;
    margin-bottom: 80px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
    outline: none;
    -webkit-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s; }
    .footer__your-message::-webkit-input-placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      opacity: 0.7; }
    .footer__your-message::-moz-placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      opacity: 0.7; }
    .footer__your-message:-ms-input-placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      opacity: 0.7; }
    .footer__your-message::-ms-input-placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      opacity: 0.7; }
    .footer__your-message::placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      opacity: 0.7; }
    .footer__your-message:focus {
      border-bottom: 2px solid #144ed4; }
  .footer__button {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: #144ed5;
    border-radius: 8px;
    border: 1px solid #144ed5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 226px;
    height: 56px;
    -webkit-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s; }
    .footer__button:hover {
      color: #144ed5;
      background-color: white;
      border: 1px solid #144ed5;
      cursor: pointer; }
  .footer__contact-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: white;
    margin-bottom: 56px; }
  .footer__number-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    opacity: 0.5;
    margin: 0 0 8px; }
  .footer__number {
    font-weight: 600;
    font-size: 24px;
    color: white;
    margin: 0 0 48px; }
  .footer__address-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    opacity: 0.5;
    margin: 0 0 8px; }
  .footer__address {
    font-weight: 600;
    font-size: 24px;
    color: white;
    margin: 0 0 48px; }
  .footer__socials-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    opacity: 0.5;
    margin: 0 0 20px; }
  .footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 160px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__facebook {
    width: 32px;
    height: 32px;
    background-image: url("../images/footer/facebook.svg");
    background-position: center;
    background-repeat: no-repeat; }
    .footer__facebook:hover {
      background-image: url("../images/footer/facebook-active.svg");
      cursor: pointer; }
  .footer__twitter {
    width: 32px;
    height: 32px;
    background-image: url("../images/footer/twitter.svg");
    background-position: center;
    background-repeat: no-repeat; }
    .footer__twitter:hover {
      background-image: url("../images/footer/twitter-active.svg");
      cursor: pointer; }
  .footer__instagram {
    width: 32px;
    height: 32px;
    background-image: url("../images/footer/instagram.svg");
    background-position: center;
    background-repeat: no-repeat; }
    .footer__instagram:hover {
      background-image: url("../images/footer/instagram-active.svg");
      cursor: pointer; }
  .footer__item {
    margin: 0 32px; }
    .footer__item:first-child {
      margin-right: auto;
      margin-left: 0; }
  .footer__link {
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 32px;
    position: relative; }
    .footer__link::after {
      content: "";
      background-image: url("../images/sub-title/sub-link-icon-dark.svg");
      position: absolute;
      left: 0;
      width: calc(100% - 3px);
      height: 2px;
      bottom: 0;
      opacity: 0;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s; }
    .footer__link:hover::after {
      opacity: 100%;
      -webkit-transform: translateY(8px);
              transform: translateY(8px); }

/*# sourceMappingURL=main.css.map */
